@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

header h1 span {
    color: #0067ac;
    margin: 2vh 0;
}

header .sub-menu {
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: space-around;
    align-items: center;
}

header .sub-menu img {
    height: 1rem;
}

header .sub-menu span {
    margin-top: 2vh;
}

header ul {
    display: flex;
    width: 50%;
    justify-content: space-around;
    list-style: none;
    margin-top: 2vh;
}

/* Button Style */

.button {
    border: none;
    /* background: linear-gradient(to right, #0067ac, white ); */
    background: #0067ac;
    padding: 0.8rem;
    border-radius: 30px;
    width: 50%;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2vh 0;
}

/* Section ONE CSS */

.one .left {
    padding: 2rem;
}

.one .left h1 {
    color: #666666;
    font-size: 2rem;
}

.one .left h3 {
    font-weight: lighter;
    font-size: 1rem;
}

.one .left .feature {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 2vh 0;
}

.one .left .feature img {
    height: 2rem;
}

.one .left .feature p {
    font-size: 0.7rem;
    margin-left: 1rem;
}

.one .right {
    position: relative;
}

.one .right img {
    width: 100%;
    height: auto;
}

.one .right .background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

/* Media Queries Section */

@media screen and (min-width: 700px) {
    header .sub-menu {
        display: flex;
        flex-direction: row;
    }

    .one .left h1 {
        font-size: 3rem;
    }

    .one .left h3 {
        font-size: 1.2rem;
        width: 70%;
        line-height: 2rem;
    }

    .one .left button {
        width: 200px;
        margin: 4vh 0;
    }

    .one .left .features {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .one .right .foreground {
        max-width: 65%;
        margin-left: 18%; 
    }
}


/* Laptops and Other devices */

@media screen and (min-width: 1200px) {
    header {
        display: flex;
        flex-direction: row;
        width: 55%;
        height: 15vh;
        align-items: center;
        margin-left: 2rem;
    }

    .one {
        display: grid;
        grid-template-columns: 40% auto;
        position: relative;
    }

    .one .left .features {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: absolute;
        width: 60%;
    }

    .one .right .background {
        position: absolute;
        top: -30%;
        height: 100vh;
        width: auto;
    }

    .one .left .features p {
        font-size: 1rem;
    }

}